
		/**
		* This method is called by sub classes when <%= @a_or_an %><%= @prop %> is
		* not supplied as an argument or property when required.
		*
		* <p>The <%= @event_const %> event type is then dispatched to any listeners so that
		* you can handle the error</p>
		*
		* @private
		*/